# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env/
.env

# ===============================
# ML / Models (VERY IMPORTANT)
# ===============================


# ===============================
# Logs & temp
# ===============================
*.log
*.tmp
*.cache

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# Streamlit / Flask cache
# ===============================
.streamlit/
__pycache__/

# ===============================
# History / local data
# ===============================
scan_history.json

# ===============================
# Environment variables
# ===============================
.env